<!DOCTYPE html>{% load staticfiles system_tags %}
<html>
<head>
    <title>Example app</title>
    <style>
      html, body {
        height: 100%;
      }
      #map {
        height: 400px;
        width: 600px;
        margin: 1em auto;
      }
    </style>
</head>
<body>
    <h1>Example app</h1>
    <div id="js-hook"></div>

    <div id="map"></div>

    <script src="{% static "jspm_packages/system.js" %}"></script>
    <script src="{% static "jspm.browser.js" %}"></script>
    <script src="{% static "jspm.config.js" %}"></script>
    {% systemjs_import "jspm_0_17/main.js" %}
</body>
</html>
